.bg{
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

body{
    height: 100%;
}


h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}


.conatiner{
    width: 500px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.75);
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    padding: 20px;
}


.conatiner2{
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.75);
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.btn-large{
    margin: 50px;
    padding: 50px;
    width: 500px;
    font-size: 40px;
    border-radius: 10px;
}

.form-group{
    margin: 20px;
}

.custom-file{
    margin-left: 20px;
    margin-right: 20px;
}

.btn{
    top: 50%;
    left: 50%;
    margin: 20px;
}

text{
    font-family: Arial, Helvetica, sans-serif;
}



